.slideshow-container {
  width: 100%;
  max-width: 100%; /* Increase the maximum width */
  margin: 0 auto; /* Center the carousel */
}

.slideshow-image {
  display: block;
  width: 100%; /* Ensure the image takes full width of the container */
  height: auto; /* Keep aspect ratio */
}
