.add-new-card {
    background-color: #f8f9fa; 
    border: 2px dashed #ccc; 
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.add-new-card-content {
    font-size: 3rem;
    color: #888;
}

.add-new-card:hover {
    background-color: #28a745; 
    border-color: #28a745;
}

.add-new-plus {
    font-size: 4rem;
    color: #fff;
}

.add-new-card:hover .add-new-plus {
    color: #fff;
}
.do-not-show .dropdown-menu.show{
    display: none;
}