.navbar {
  background-color: #1d1d1d; /* Màu nền giống trang ví dụ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0; /* Đẩy sang trái */
  width: 100%; /* Giữ chiều rộng 100% */
  z-index: 1000;
  padding: 10px 20px;
  
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Đẩy các mục sang bên trái */
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 20px; /* Khoảng cách giữa logo và các liên kết */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link:hover {
  color: #ff9800; /* Màu hover */
}

.nav-dropdown {
  margin-left: 20px;
}

.nav-dropdown-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.custom-menu {
  background-color: #1d1d1d; /* Màu nền cho dropdown */
  border: none;
}

.custom-menu .dropdown-item {
  color: white;
}

.custom-menu .dropdown-item:hover {
  background-color: #ff9800; /* Màu hover cho mục dropdown */
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: auto; /* Đẩy các nút đăng nhập và giỏ hàng sang bên phải */
}

.cart-icon {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}
