.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-item h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  opacity: 0.7;
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
}

.animated-section {
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}

.animate {
  opacity: 1;
}

.supplier-image {
  width: 300px; /* Hoặc kích thước mong muốn */
  height: 300px; /* Hoặc kích thước mong muốn */
  object-fit: cover; /* Đảm bảo ảnh giữ tỷ lệ khung hình */
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: black; /* Màu nút */
}

.ant-carousel .slick-prev:before,
.ant-carousel .slick-next:before {
  color: black; /* Màu icon */
}

/* Nếu bạn muốn thêm hiệu ứng khi hover */
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  color: darkgray; /* Màu khi hover */
}

.subtle-hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3); /* White with 30% opacity */
  margin: 20px 0; /* Adjust spacing as needed */
}
